<h1>Documnent Editor</h1>
<!-- loop through the errors and display the validation message -->
{{#each errors}}
  <h4>{{text}}</h4>
{{else}}

{{/each}}

<div class="card">
  <div class="card-content">
    <div class="row">
        <form class="col s12" action="/blogs" method="post" >
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="Title" id="first_name" type="text" class="validate" name="title" value="{{title}}">
              <label for="title">Title</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="Description" id="first_name" type="text" class="validate" name="description" value="{{description}}">
              <label for="description">Description</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <button class="btn waves-effect waves-light" type="submit" name="action">Submit
              </button>
              <button class="btn waves-effect waves-light" type="submit" name="action">Upload
              </button>
              <input id="upload-input" type="file" name="uploads[]" multiple="multiple">
            </div>
          </div>
        </form>
      </div>
  </div>
</div>