<div class="fixed-navbar">
    <ul id="dropdown1" class="dropdown-content">
        <li>
            <a href="/blogs/new">New Document</a>
        </li>
        <li>
            <a href="/blogs/index">Documents</a>
        </li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Oliver Hardman</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="/video">Videos</a>
                </li><li>
                    <a href="/upload">Upload</a>
                </li>
                <li>
                    <a href="/gallery">Gallery</a>
                </li>
                <!-- Dropdown Trigger -->
                <li>
                    <a class="dropdown-trigger" href="#!" data-target="dropdown1">Documents
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>